<!DOCTYPE html>
<html>
<%- include _head.ejs %>

<body>

  <%- include _navbar.ejs %>

	<body><br>
	<!-- <div class="container"> -->
		<div class="row-fluid">
			<div class="text-center">
				<h1 class="responsive">Welcome! Check out <%= event.title %></h1>
			</div><hr>

		<!-- ==== MAIN CITY SPLASH PHOTO ===== -->

			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="eventImage">
					<img src="<%= event.url %>"/>
				</div>
			</div>
		</div>

  <h1><a href="/eventcenter">Create Non-Profit Event</a></h1>
  
   <div class="events">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-4">
      <p>Details: <%= event.detail %></p>
      <p>Date: <%= event.event_date %></p>
      
      <p>Location: <%= event.location %></p>
      <p>Created at: <%= event.created %></p>

      <button class="btn btn-danger">RSVP</button>
    </div>
  </div>
</div>
</body>

   
</html>