<!DOCTYPE html>
<html>
<%- include _head.ejs %>

<body>
  <%- include _innernavbar.ejs %>
  
  <div class="jumbotron bpe-jumbotron">
    <h1>Events Center</h1>
    <hr>
  </div>
   <div class="container events">
      <div class="row">
      <div class="col-md-4 col-md-offset-4">
      
     <form id ="newEvent">
        <legend>Create new Event</legend>
      <input name="name" type="text" class="form-control" id="eventName" placeholder="Event Name">
      <input name="detail" type="text" class="form-control" placeholder="Event Detail">

      <div id="datepicker"></div>
      <button type="submit" class="btn btn-primary">Add</button>
     </form>

          <div class="list-group events" id="events-ul">
          <h3>Event Lists</h3>
          <% events.forEach(function(event) { %>
  
            <p><a href="/events/<%= event._id %>"><%= event.name %> <%= event.number %></a><span data-id="<%= event._id %>" class='glyphicon glyphicon-hdd pull-right'></span></p>
            <% }); %>
          </div>
        </div>
      </div>
    </div>   
    </body>
  </html>